<section>
    <article>
        <h3>Perfil</h3>
        
        <p class="perfil">{{perfil}}</p>


    </article>

    <article>
        <h3>Intereses</h3>
        
    <ul>
        <li>{{videojuegos}}</li>
        <li>{{ia}}</li>
        <li>{{deportes}}</li>
        <li>{{viajes}}</li>
        <li>{{tecnologias}}</li>
        <li>{{leer}}</li>     
        <li>{{apps}}</li>                
    </ul>
   


    </article>

    
    <article>
        <h3>Educación</h3>
        
    <ul>
        <li>{{eso}}</li>
           <ul> 
               <li>{{eso_colegio}}</li>
               <li>{{eso_fecha}}</li>
           </ul>
            
        <li>{{bachillerato}}</li>
            <ul> 
                <li>{{bachillerato_instituto}}</li>
                <li>{{bachillerato_fecha}}</li>
            </ul>
        <li>{{uni}}</li>
            <ul> 
                <li>{{uni_escuela}}</li>
                <li>{{uni_fecha}}</li>
            </ul>

        
                    
    </ul>

    </article>

    <article>
        <h3>Fortalezas</h3>
        
    <ul>
        <li>{{f1}}</li>
        <li>{{f2}}</li>
        <li>{{f3}}</li>
        <li>{{f4}}</li>
        <li>{{f5}}</li>
        <li>{{f6}}</li>     
        <li>{{f7}}</li> 
        <li>{{f8}}</li>
        <li>{{f9}}</li>
        <li>{{f10}}</li>
        <li>{{f11}}</li>
        <li>{{f12}}</li>
        <li>{{f13}}</li>     
                       
    </ul>
   


    </article>

    <article>
        <h3>Idiomas</h3>
        
    <ul>
        <li>{{ingles}}</li>
        <li>{{espanol}}</li>
       
    </ul>
   


    </article>

    <article>
        <h3>Experiencia profesional</h3>
        
    <p>{{exp}} </p>
    


    </article>
</section>