ul {
    text-align: justify;
}


@media (orientation: portrait) {


    div.conocimientos {
        width: 60%;
    }

    ul.listaconocimientos {
        position: relative;
        top: 0%;
        left: -10%;
        margin: auto ;
      
    }
    
    
}


    
    
 
    
    
    

