
        <div class="conocimientos">
            <h3>Conocimientos</h3>

            <ul class="listaconocimientos">
                <li>{{java}}</li>
                <li>{{python}}</li>
                <li>{{c}}</li>
                <li>{{sql}}</li>
                <li>{{html}}</li>
                <li>{{css}}</li>     
                <li>{{javascript}}</li> 
                <li>{{php}}</li>
                <li>{{spring}}</li>
                <li>{{django}}</li>
                <li>{{git}}</li>
                <li>{{github}}</li>
                <li>{{docker}}</li>
                <li>{{travis}} </li>
                <li>{{scrum}}</li>
                <li>{{mysql}}</li>
                <li>{{postgres}}</li>
                <li>{{sqlite}}</li>
                <li>{{nosql}}</li>
                <li>{{xml}}</li>
                <li>{{ofimatica}}</li>
                <li>{{mecanografia}}</li>
                <li>{{uml}}</li>
                <li>{{scrapping}}</li>
                <li>{{whoosh}}</li>
                <li>{{heroku}}</li>
                <li>{{sonarqube}}</li>
                <li>{{codacy}}</li>
                <li>{{sage}}</li>
                <li>{{ansible}}</li>
                     
                               
            </ul>
            


        </div>