img.linkedin{

    text-align: left;
    max-width: 50px;
    max-height: 50px;
    left: 0px;

}

img.infojobs{

    text-align: left;
    max-width: 50px;
    max-height: 50px;
    left: 0px;

}
ul {
    text-align: justify;
}




    
    



    
    
    
    

